.calculator {
    width: 40%;
    height: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(30px, 80px);
    grid-gap: 5px;
    font-size: 1.5em;
}

.calculator .operator {
    font-size: 1.25em;
}

.calculator .zero {
    grid-column: span 2;
    border-radius: 5%;
}

.calculator .number {
    border-radius: 25px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}

.fullHistory span:hover {
    color: gray;
    cursor: pointer;
}

.trashButton i:hover {
    color: red;
    opacity: .9;
    cursor: pointer;
}

.calcField {
    width: 84%;
    margin: 0 auto;
}

.opField {
    width: 15%;
    margin: 0 auto;
}

.topCalc{
    justify-content: center;
    display: flex;
}

.output {
    width: 40%;
    display: flex;
}

.history {
    width: 40%;
    margin: 0 auto;
    text-align: right;
    font-size: 1em;
    min-height: 25px;
}

.fullHistory {
    width: 40%;
    margin: 0 auto;
    text-align: right;
    font-size: 1.5em;
    min-height: 60px;
    border: solid 1px;
    padding: 7px;
}

.fullHistory p {
    margin: 5px;
}

.opEquals {
    font-weight: bolder;
    margin: 5px;
}

#calc{
    text-align: right;
    font-size: 2em;
}

#op{
    text-align: center;
    font-size: 2em;
}


@media screen and (max-width: 700px){
    h1 {
        font-size: 3rem;
    }

    .output {
        width: 80%;
    }

    .history {
        width: 80%;
    }

    .fullHistory {
        width: 80%;
    }

    .calculator {
        width: 90%;
    }

    .calcField {
        width: 80%;
        margin: 0 auto;
        border-style: solid 1px;
    }

    .calculator .operator {
        background-color: #4CAF50;
        opacity: .75;
        border-radius: 25px;
    }
}
